<nav class="navbar">
  <div class="logo">📦 Sistema Tarefas</div>
  <div class="user-area">
    <span class="user-name">👤 {{ usuario }}</span>
    <span class="role">🛡 {{ role }}</span>
    <button class="btn-sair" (click)="logout()">Sair</button>
  </div>
</nav>

<mat-card class="container">

  <h2>📋 Minhas Tarefas</h2>

  <!-- FILTRO -->
  <input type="date" [(ngModel)]="filtroData" />
  <button mat-button (click)="filtrarPorData()">Filtrar</button>

  <hr />

  <!-- FORM -->
  <form (ngSubmit)="editando ? salvarEdicao() : adicionarTarefa()">

    <input placeholder="Título" [(ngModel)]="tarefaForm.titulo" name="titulo" />

    <input placeholder="Descrição" [(ngModel)]="tarefaForm.descricao" name="descricao" />

    <input type="datetime-local" [(ngModel)]="tarefaForm.dataHora" name="dataHora" />

    <button mat-raised-button color="primary">
      {{ editando ? 'Salvar' : 'Adicionar' }}
    </button>

    <button *ngIf="editando" type="button" (click)="cancelarEdicao()">
      Cancelar
    </button>
  </form>

  <hr />

  <!-- KANBAN -->

  <div class="kanban">

    <!-- PENDENTES -->
    <div class="coluna">
      <h3>⏳ Pendentes</h3>

      <div *ngFor="let t of tarefasPendentes()">
        <h4>{{ t.titulo }}</h4>
        <p>{{ t.descricao }}</p>

        <button (click)="concluirTarefa(t)">✔ Concluir</button>
        <button (click)="editarTarefa(t)">✏ Editar</button>
        <button (click)="deletarTarefa(t.id)">🗑 Excluir</button>
      </div>
    </div>

    <!-- CONCLUÍDAS -->
    <div class="coluna">
      <h3>✅ Concluídas</h3>

      <div *ngFor="let t of tarefasConcluidas()">
        <h4>{{ t.titulo }}</h4>
        <p>{{ t.descricao }}</p>
      </div>
    </div>

  </div>

</mat-card>
