body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background: #1e293b;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.user-area {
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn-sair {
  background: crimson;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-sair:hover {
  opacity: 0.9;
}

.container {
  padding: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f1f5f9;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
}
